html, body {
  background-color: #EAEAEA;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}


/* Jumbotron */
#about {
background: url('http://i.imgur.com/PfINlAk.jpg') center center;
background-repeat: no-repeat;
background-size: 110%;
margin: 20px;
height: 100vh;
}

/* Main */

.main_about{
  background-color: #3A3A3A;
  color: #fff;
}

.main_about h2 {
  font-size: 46px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}

.main_about h2:after {
    background: none repeat scroll 0 0 #fff;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 170px;
    margin: 0 auto;
}

.main_about p {
  margin: 20px 20px;
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
}
