html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}
/* Header */
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #2D2D2D;
  height: 90px;
}

.header .highlight {
    color: #fff;
  }

.header ul {
    color: #fff;
    display: block;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

.header li {
    color: #878787;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

#sitenav li {
  padding: 20px 10px;
}

#socialnav li {
  padding: 10px 5px;
}



/* Main */
.jumbotron {
background: url('http://i.imgur.com/25MQpC8.jpg') center center;
background-repeat: no-repeat;
background-size: 97.5%;
margin: 0;
height: 100vh;
}

.main {
    color:#fff;
    height:100vh;
    background: rgba(0, 0, 0, 0.7);
    padding:0px 25px 0px 25px;
    margin-top: -58px;
}

.main-text h2 {
  font-size: 46px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
}

.main-text h2:after {
    background: none repeat scroll 0 0 #fff;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 170px;
    margin: 0 auto;
}

.main-text p {
    padding-top:10%;
    white-space: normal;
}

.main span {
    font-weight: bold;
}

.btn {
  background-color: #E00000;
  color: #fff;
  font-size: ;
  font-weight: ;
  padding: ;
  text-decoration: none;
  text-transform: uppercase;
}

/*-- Cat Pictures */

.supporting {
  background-color: #fff;
}

.supporting img {
    width: 100%;
    margin-bottom: 20px;
  }

.supporting p {

}

/*-- footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.footer h6 {
  font-size: 20px;
  font-weight: lighter;
}
